.lang__toggle {
    font-weight: 400;
    font-size: 24px;
    line-height: 117%;
    color: #ffffff;
}

@media screen and (max-width: 767px) {
    .lang__toggle {
        font-size: 18px;
        line-height: 111%;
    }
}