.grid-layout {
    padding-left: 48px;
    padding-right: 48px;
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

@media screen and (max-width: 1279px) {
    .grid-layout {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1023px) {
    .grid-layout {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .grid-layout {
        padding-left: 16px;
        padding-right: 16px;
        gap: 12px;
        grid-template-columns: repeat(1, 1fr);
    }
}