.places-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

@media screen and (max-width: 1023px) {
    .places-list {
        gap: 73px;
    }
}

@media screen and (max-width: 767px) {
    .places-list {
        gap: 50px;
    }
}